[Unit]
Description=Refresh Lexgraph watched procedures every four hours
Documentation=https://github.com/SNTIQ-Team/lexgraph

[Timer]
OnCalendar=*-*-* 00,04,08,12,16,20:17:00 UTC
Persistent=true
RandomizedDelaySec=5min
AccuracySec=1min
Unit=lexgraph-procedure-watch.service

[Install]
WantedBy=timers.target
